{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock title %}

{% block content %}
    <main>
        <div>
            <article class="post">
                <h1>Posts</h1>
                <p>Posts text</p>
                <a href="{% url 'posts:list' %}"><button class="button">Posts</button></a>
                <a href="{% url 'posts:new-post' %}"><button class="button">New Posts</button></a>
            </article>
            <article class="post">
                <h1>Plot</h1>
                <p>Plot text</p>
                <a href="{% url 'plot:plot' %}"><button class="button">Plots erstellen</button></a>
            </article>
        </div>
    </main>
{% endblock content %}