{% extends "layout.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <main>
        <div class="header">
            <br>
            <br>
            <h1><b>Willkommen bei Dashify!</b></h1>
            <p class="welcome-message"><b>Deine zentrale Plattform für innovative Datenvisualisierung!</b></p>
            <br>
            <div class="post-body">
            </div>
            <div class="button-container">
                <a href="#" class="button">Starte jetzt</a>
                <a href="#" class="button">Mehr erfahren</a>
            </div>
        </div>
    </main>
{% endblock content %}