<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Dashify
        {% endblock title %}
    </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav class="navbar">
        {% comment %} <img src="path/to/your/logo.png" alt="Logo"> {% endcomment %}
        <div class="nav-links">
            {% if user.is_authenticated %}
                <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>
                <form class="logout-form" action="{% url 'users:logout' %}" method="POST">
                    {% csrf_token %}
                    <button class="logout-link" title="User Logout">Logout</button>
                </form>
            {% else %}
                <a href="/" class="nav-link">Home</a>
            {% endif %}
        </div>
    </nav>    
    <main>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>

    </main>
    <footer>
        <div class="container">
            <p class="mb-0">© 2024 Dashify. All rights reserved.</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
