<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Dashify
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
        {% comment %} <img src="path/to/your/logo.png" alt="Logo"> {% endcomment %}
        <div class="nav-links">
            {% if user.is_authenticated %}
                <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>
                <a href="{% url 'posts:list' %}" class="nav-link">Posts</a>
                <a href="{% url 'posts:new-post' %}" class="nav-link">New Post</a>
                <a href="{% url 'plot:plot' %}" class="nav-link">Plots erstellen</a>
                <a href="#" class="nav-link logout-link" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                    Logout
                </a>
                <form id="logout-form" action="{% url 'users:logout' %}" method="POST" style="display: none;">
                    {% csrf_token %}
                </form>
            {% else %}
                <a href="/" class="nav-link">Home</a>
                <a href="{% url 'users:login' %}" class="button">Login</a>
                    <a href="{% url 'users:register' %}" class="button">Registrieren</a>
            {% endif %}
        </div>
    </nav>    
    <main>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>

    </main>
    <footer>
        <div class="container">
            <p class="mb-0">© 2024 Dashify. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
