{% extends "layout.html" %}

{% block title %}
    Plot
{% endblock title %}

{% block content %}
    <main>
        <div class="dashboard-container">
            <article class="post">
                <h1>Plot</h1>
                <p>Erstelle einen Plot basierend auf deinen Daten.</p>
                <div class="button-container">
                    <a href="/plot/darstellungen"><button class="button">Plot erstellen</button></a>
                </div>
            </article>
        </div>
    </main>
{% endblock content %}
