{% extends "layout.html" %}

{% block title %}
    Plot
{% endblock title %}

{% block content %}
        <div class="container">
            <div class="card">
                <div>
                    <h1>Hi from Plot</h1>
                </div>
                <div>
                    <p>Plot here</p>
                </div>
                    <a href="/plot/darstellungen"><button class="button">Plot erstellen</button></a>
                </div>
            </div>
        </div>
{% endblock content %}