/* Grundlegende Styles für die Seite */
body {
    background-color: white;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar img {
    height: 50px; /* Höhe des Logos anpassen */
}

.nav-links {
    display: flex;
    gap: 10px; /* Abstand zwischen den Buttons */
}

.nav-link {
    background-color: #800000;
    color: white;
    border: none;
    border-radius: 20px; /* Abgerundete Ecken */
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #982B1C; /* Dunklere Farbe beim Hover */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; /* Zentrierte Texte */
    padding: 20px;
}

.card {
    background-color: white;
    color: #800000;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    width: 300px; /* Breite der Cards anpassen */
    text-align: center; /* Zentrierter Text in der Card */
}

.logout-form {
    display: inline; /* Damit das Formular neben den Links angezeigt wird */
}

.logout-link {
    background-color: #800000;
    color: white;
    border: none;
    border-radius: 20px; /* Abgerundete Ecken */
    padding: 10px 15px;
    cursor: pointer; /* Zeigt den Zeiger-Cursor an, wenn man darüber fährt */
    transition: background-color 0.3s;
}

.logout-link:hover {
    background-color: #982B1C; /* Dunklere Farbe beim Hover */
}

