{% extends "layout.html" %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}
    <div class="container">
        <article class="post">
            <h1 class="post-title">{{ post.title }}</h1>
            <img
                class="banner"
                src="{{ post.banner.url }}"
                alt="{{ post.title }}">
            <p class="post-meta">
                Erstellt am <b><i>{{ post.date|date:"d.m.Y" }} </i></b>
                um <b><i>{{ post.date|date:"H:i" }} Uhr </i></b>
                von <b><i>{{ post.author }}</i></b>
            </p>
            <p class="post-body">{{ post.body|linebreaks }}</p>
        </article>
    </div>
{% endblock content %}
