{% extends "layout.html" %}

{% block title %}
    New Post
{% endblock title %}

{% block content %}
    <main>
        <div class="form-container">
            <form class="form-register" action="{% url 'posts:new-post' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>New Post</h2>
                
                <!-- Display form errors (if any) -->
                {% if form.errors %}
                <ul class="errorlist">
                    {% for field in form %}
                    <li>{{ field.label_tag }}: 
                        {% for error in field.errors %}
                        {{ error }}
                        {% endfor %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                
                <!-- Field Iteration -->
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                </div>
                {% endfor %}
                
                <!-- Submit Button -->
                <div class="button-container">
                    <button type="submit" class="button">Posten</button>
                </div>
            </form>
        </div>
    </main>
{% endblock content %}
