{% extends "layout.html" %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="card">
            <h1>{{ post.title }}</h1>
            <article class="post">
                <img
                    class = "banner"
                    src="{{ post.banner.url }}"
                    alt="{{ post.title }}">
                <p>{{ post.date }} von {{ post.author }}</p>
                <p>{{ post.body }}</p>
            </article>
        </div>
    </div>
{% endblock content %}